{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Dino`s HOME PAGE</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Here we are , BlogPost of Dino created !!!</p>
            <p>I used the example from getbootstrap.com</p>
            <p>Go visit  <a href="https://getbootstrap.com/">getbootstrap.com</a> and make it youself</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Let`s Post something Here!!&raquo;</a></p>
        </div>
    </div>
</main>
</div>
{% endblock %}